//light mode
$VeryLightGrayBackground: hsl(0, 0%, 98%);
$whiteElements: hsl(0, 0%, 100%);
$VeryDarkBlueText: hsl(200, 15%, 8%);
$DarkGrayInputPlaceholder: hsl(0, 0%, 52%);

//dark mode
$VeryDarkBlueBackground: hsl(207, 26%, 17%);
$DarkBlueElements: hsl(209, 23%, 22%);
$WhiteText: hsl(0, 0%, 100%);
